<p>alumnos works!</p>
<!--<div class="row">
    <mat-form-field>
        <mat-label>
            Filtrar cursos
        </mat-label>
        <input type="text" matInput [(ngModel)]="filtro">
    </mat-form-field>
</div>-->

<div class="container">
    <div class="row">
        <div class="col" *ngFor="let alumno of alumnos"><!-- | filtroAlumnos: filtro"-->
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="titulo-cardalum">{{alumno.nombre}}</mat-card-title>
                  <mat-card-subtitle>Edad: {{alumno.edad}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h1 class="text-curso">{{alumno.curso}}</h1>
                  <p class="text-matriculado">Inscrito: {{alumno.matriculado}}</p>
                  <!--<p>{{longText}}</p>-->
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div> 

    </div>

</div>
